/*--------------import--------------*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Nunito:wght@400;800&family=Poppins:wght@400;500;700;900&display=swap');


/*--------------Reset--------------*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*--------------Global--------------*/

/*--------------Home Screen--------------*/
.home-screen{
  display: grid;
  font: 800 12px Nunito;
  background: #462980;

  position: absolute;
  z-index: 1;

  height: 100%;
  width: 100%;
}

.logo{
  display: grid;
  align-content: center;
  height: 3.75rem;
  width: 100%;
  background: #462980;
  box-shadow: 0px 0px 12px #0000003a;
}

.logo p{
 margin-left: 2rem; 
 font: 800 22px Nunito;
 color: #ffffff;

}
.container{
  display: grid;
  place-content: center;
}
.box{
  text-align: center;
  background: #ffffff;

  width: auto;
  height: auto;
  padding: 1.5rem;

  border-radius: 1.2rem;
  box-shadow: 0px 0px 35px #0000003a;
}
.titulo{
  font-size: 30px;
  color: #462980;
}

#quiz{
  font-family: arial;
  margin: 2rem;
  display: grid;
  place-content: center;
}

.pergunta{
  font: bold 18px arial;
  color: #693DBF;
  margin-bottom: 2.5rem;
}

ol{
  font: 16px arial;
}

li{
  list-style: none;
  cursor: pointer;

  width: 18.25rem;
  height: 2rem;

  background: #693DBF;
  color: #ffffff;

  display: grid;
  place-content: center;

  margin-bottom: 1rem;
  border-radius: 6rem;
}

li:hover{
  background: #462980;
}

.btn{
  width: 9rem;
  height: 2rem;

  background: #ffffff;  
  border: 1px solid #693DBF;
  color: #693DBF;;
  border-radius: 2rem;
 
  font: 800 14px Nunito; 
  cursor: pointer;
}

.btn:hover{
  background: #462980;   
  border: none;
  color: #ffffff;
}

.name{
  font: 400 12px Nunito;
  color: #ffffff;
  text-align: center;
}


/*--------------Pop-up Result--------------*/
.fundo-escuro{
  background: rgba(0, 0, 0, 0.438);

  position: fixed;
  z-index: 2;
  
  height: 100%;
  width: 100%;
  display: none;
}






















/*--------------Mobile--------------*/
@media (min-width:360px) and (max-width:405px) {
  .logo {
    place-content: center;
  }
  .logo p{
    margin-left:0;
   }
  .box{
    width: 21rem;
    padding: 1.5rem;
  }
  li{
    width: 16rem;
  }
}










