@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Nunito:wght@400;800&family=Poppins:wght@400;500;700;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', cursive;
}

body{
  background: #000000;
  overflow-y: hidden;
  min-height: 100vh;
}

.hide{
  display: none;
}

.logo{
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 14px;
}

.logo p{
  margin-left: 2rem; 
  font: 800 22px Nunito;
  color: #ffffff;
 }

.main{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.start{
  text-align: center;
  width: 300px;
  height: auto;
  padding: 15px;
  border-radius: 1.2rem;
  background: #ffffff;
}

.titulo{
  font-size: 25px;
  font-weight: 800;
  color: #000000;
  margin-bottom: 20px;
}

.perguntaStart{
  font-size: 18px;
  font-weight: 600;
  color: #000000;
}

.btnStart{
  width: 9rem;
  height: 2rem;
  background: #ffffff;  
  border: 1px solid #000000;
  color: #000000;;
  border-radius: 2rem;
  font: 800 14px Nunito; 
  cursor: pointer;
  margin-top: 30px;
}

.btnStart:hover{
  background: #acacac;   
  border: none;
  color: #ffffff;
}

.quiz{
  width: 18.75rem;
  height: 26.5rem;
  display: grid;
  place-items: center;
  padding: 15px;
  background: #ffffff;
  border-radius: 1.2rem;
}

.questions{
  font: 600 25px Nunito;
  color: #000;
  margin-bottom: 20px;
  text-align: center;
}

.answers{
  width: 100%;
}

.answer{
  width: 100%;
  height: 35px;
  background: #ffffff;  
  border: 1px solid #000000;
  color: #000000;
  border-radius: 2rem;
  font: 800 14px Nunito; 
  cursor: pointer;
  margin: 5px 0;
}

.answer:hover{
  background: #acacac;   
  border: none;
  color: #ffffff;
}

.btnQuiz{
  width: 9rem;
  height: 2rem;
  background: #ffffff;  
  border: 1px solid #000000;
  color: #000000;
  border-radius: 2rem;
  font: 800 14px Nunito; 
  cursor: pointer;
  margin-top: 30px;
}

.btnQuiz:not(:disabled):hover{
  background: #acacac;   
  border: none;
  color: #ffffff;
}

.btnQuiz:disabled{
  border: 1px solid #aaaaaa;
  color: #aaaaaa;
  cursor:auto;
}

.select{
  background: #000000;  
  border: none;
  color: #ffffff; 
  cursor:auto;
}

.select:hover{
  background: #000000;
  
}

.box{ 
  background: #ffffff;
  border-radius: 1.2rem;
  text-align: center;
  padding: 15px;
  width: 18.75rem;
  height: auto;
}

.text{
  font: 400 15px Nunito;
  color: #000;
  text-align: center;
  margin: 10px;
}

.focus{
  font-weight: 600;
  font-size: 20px;
}

.symbol{
  height: 15rem;
  padding: 15px;
}

.restart{
  width: 9rem;
  height: 2rem;
  background: #ffffff;  
  border: 1px solid #000000;
  color: #000000;
  border-radius: 2rem;
  font: 800 14px Nunito; 
  cursor: pointer;
  margin-top: 10px;
}

.restart:hover{
  background: #acacac;   
  border: none;
  color: #ffffff;
}

.loading{ 
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading span{ 
  font: 800 40px Nunito;
  color: #ffffff;
  width: 13ch;
  word-spacing: 50px;
  white-space: nowrap;
  overflow: hidden;
} 

.loading span{ 
  animation: typing 2s infinite steps(13) , blinking 0.5s infinite step-end alternate;

} 

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blinking {
  50% {
    border-color: transparent;
  }
}

.loadingResult{
  text-align: center;
}

.loadingResult p{
  font: 500 14px Nunito;
  color: #ffffff;
  margin-top: 49px;
  text-align: center;
}
.generatingResult span{
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #ffffff;
  margin: 5px;
}

.generatingResult span{
  animation: results .6s cubic-bezier(0.6, 0.1, 1, 0.4) infinite alternate;
}

.generatingResult span:nth-child(1){
  animation-delay: .1s;
}

.generatingResult span:nth-child(2){
  animation-delay: .2s;
}

.generatingResult span:nth-child(3){
  animation-delay: .3s;
}


@keyframes results {
  to{
    transform: translateY(50px);
  }
}


@media (max-width: 480px) {
  .logo{
    justify-content: center;
    height: 100px;
  }
  .logo p{
    margin-left: 0;
    font-size: 25px; 
   }

}